package routes

import (
	"github.com/invopop/ctxi18n/i18n"
	layout "recruitme/internal/layout"
)

templ InformationalAccordion(title string, description ...string) {
	<details name="info_accordion">
		<summary>
			{ title }
		</summary>
		<article>
			{ children... }
		</article>
	</details>
}

templ Details(summary string, list_items []string) {
	<details name="details_accordion">
		<summary>{ summary }</summary>
		<article>
			for _, item := range list_items {
				{ item }
				<br/>
			}
		</article>
	</details>
}

templ Home() {
	@layout.Layout("Home") {
		<section>
			<h2>{ i18n.T(ctx, "info.intro_header") }</h2>
			<p>
				{ i18n.T(ctx, "info.intro_body") }
			</p>
			<hr/>
			<p>
				{ i18n.T(ctx, "info.intro_projects") }
				<a href="www.github.com/jacobsky">github</a>.
			</p>
		</section>
		<div class="grid">
			<section>
				<h2>{ i18n.T(ctx, "info.Prior Experience and Roles") }</h2>
				@InformationalAccordion(
					i18n.T(ctx, "info.Firmware Device Engineer"),
				) {
					<p>
						{ i18n.T(ctx, "info.firmwareengineer") }
					</p>
					<h5>{ i18n.T(ctx, "Skills") }</h5>
					<p>{ i18n.T(ctx, "Embedded") } C/C++, Linux, Nginx, Sqlite, Php stacp, Dotnet.</p>
				}
				@InformationalAccordion(
					i18n.T(ctx, "info.Embedded Systems Engineer"),
				) {
					<p>
						{ i18n.T(ctx, "info.embeddedengineer") }
					</p>
					<h5>{ i18n.T(ctx, "Skills") }</h5>
					<p>{ i18n.T(ctx, "Embedded") } C/C++, Linux, Python, SQL.</p>
				}
				@InformationalAccordion(i18n.T(ctx, "info.Application Engineer")) {
					<p>
						{ i18n.T(ctx, "info.applicationengineer") }
					</p>
					<h5>{ i18n.T(ctx, "Skills") }</h5>
					<p>C#-based Dotnet Presentation Frameworks, Python, and Docker for cloud deployment</p>
				}
				@InformationalAccordion(i18n.T(ctx, "info.Cloud AI/Machine Learning Technical Support Engineer")) {
					<p>
						{ i18n.T(ctx, "info.techsupportengineer") }
					</p>
					<h5>{ i18n.T(ctx, "Skills") }</h5>
					<p>C, C#, Python, Javascript. Azure Networking, Docker/Kubernetes, { i18n.T(ctx, "LLMs, Prompt Engineering, Agentic AI") }</p>
				}
			</section>
			<section>
				<h2>Technologies</h2>
				@Details(i18n.T(ctx, "info.Programming Languages"), []string{
					"C, C#, Golang, Rust, Python, SQL, HLSL",
				})
				@Details(i18n.T(ctx, "info.Operating Systems"), []string{
					"Windows", "Linux (Redhat/Ubuntu/Arch)", "WSL (ubuntu/arch)",
				})
				@Details(i18n.T(ctx, "info.Technology Stacks"), []string{
					"Games: Godot + Rust",
					"Web: Golang + Templ + HTMX + HTML/CSS + SQL",
					"CLI: Rust, Go, Python",
				})
				@Details(i18n.T(ctx, "info.Tools"), []string{
					"Neovim", "Git", i18n.T(ctx, "Github Actions"), "Docker", i18n.T(ctx, "LLMs, Prompt Engineering, Agentic AI"),
				})
			</section>
		</div>
	}
}
